/* ----- => VARIABLE DECLARATION<= ----- */
/* ----- => GENERAL PAGE RULES <= ----- */
.cf:after {
  content: "";
  display: table;
  clear: both; }

body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: "sans-serif";
  font-size: 1rem; }
  body a {
    color: inherit; }
  body a:hover, body a:focus {
    text-decoration: none; }

@media screen and (min-width: 700px) {
  /* ----- => FORM PAGES TOP-DOWN <= ----- */
  /* ( Ex.: Login page, upload page, ... ) */
  header {
    background-color: #E7E7FF;
    padding: 1rem 4vw; }
    header h1 {
      display: inline-block;
      float: left;
      font-size: 3rem; }
      header h1 span {
        color: #0000CC; }
    header #homeButton {
      display: inline-block;
      float: right;
      font-size: 1.5rem; }
    header #homeButton {
      content: "Home"; }
    header #homeButton:hover, header #homeButton:focus {
      color: #26619C; }

  nav ul {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        display: inline-block;
        padding: 1rem;
        border: 1px solid black;
        background-color: #E7E7FF;
        text-decoration: none;
        border-radius: 1.5rem;
        margin: 1.5rem 3vw;
        width: 100px;
        overflow: hidden; }
      nav ul li a:hover, nav ul li a:focus {
        background-color: #A7A7A7;
        box-shadow: 0 0 6px 1px #777777;
        text-decoration: underline; }
  nav #menuDropper {
    display: none; }

  div form {
    width: 600px;
    margin: 2rem auto;
    padding: 2vh 2vw;
    border-radius: calc(2vw + 2vh);
    background-color: #E7E7FF; }
    div form fieldset {
      width: 480px;
      margin: 0 auto;
      padding: 24px 0; }
      div form fieldset label {
        display: inline-block;
        width: 80px;
        height: 24px; }
      div form fieldset input {
        display: inline-block;
        width: 380px;
        height: 24px;
        margin-bottom: 2rem;
        font-size: 1.5rem; }
      div form fieldset input:focus {
        box-shadow: 0 0 3px 0 #777777;
        border-color: transparent; }
      div form fieldset button {
        display: inline-block;
        background-color: #E7E7FF;
        border-radius: 1.5rem;
        width: 128px;
        margin: 0 calc((480px - 100px) / 2);
        height: 48px;
        border: 1px solid black; }
      div form fieldset button:hover, div form fieldset button:focus {
        background-color: #A7A7A7;
        box-shadow: 0 0 8px 2px #777777;
        text-decoration: underline; }
  div a {
    display: inline-block;
    width: 160px;
    line-height: 48px;
    text-align: center;
    margin-left: calc(50vw - 80px);
    border: 1px solid black;
    border-radius: 1.5rem; }
  div a:hover, div a:focus {
    background-color: #A7A7A7;
    box-shadow: 0 0 8px 2px #777777;
    text-decoration: underline; }

  #fileList form {
    margin-top: 5vh;
    width: 80vw; }
    #fileList form ul li {
      display: inline-block;
      margin: 0.5rem 0;
      background-color: #FFFFFF;
      border-radius: 0.5rem;
      overflow: hidden; }
      #fileList form ul li input {
        display: inline-block;
        width: 40px;
        margin: 0; }
      #fileList form ul li a {
        display: inline-block;
        margin: 0 0 0 -1px;
        border: none;
        border-radius: 0;
        text-decoration: none;
        border-left: 1px solid #A7A7A7;
        width: calc(55vw - 40px - 1px); }
      #fileList form ul li a:hover {
        background-color: #26619C;
        box-shadow: 0 0 16px 0 #0000CC; }
      #fileList form ul li ul {
        display: inline-block;
        width: 25vw; }
        #fileList form ul li ul li {
          all: initial; }
        #fileList form ul li ul a {
          width: calc((25vw - 2px) / 2); } }
@media screen and (max-width: 699px) and (min-width: 350px) {
  /* ----- => FORM PAGES TOP-DOWN <= ----- */
  /* ( Ex.: Login page, upload page, ... ) */
  header {
    background-color: #E7E7FF;
    padding-top: 3vh; }
    header h1 {
      display: block;
      font-size: 2rem;
      text-align: center; }
      header h1 span {
        display: block;
        color: #0000CC;
        text-align: center; }
    header #homeButton {
      display: inline-block;
      width: 100px;
      margin-left: calc(50vw - 57px);
      margin-top: 0.5rem;
      font-size: 2rem;
      text-decoration: none; }
      header #homeButton i {
        display: block;
        text-align: center; }
    header #homeButton:hover, header #homeButton:focus {
      color: #26619C; }

  nav {
    font-size: 1.5rem;
    display: block;
    padding: 1 1rem 0; }
    nav a {
      text-decoration: none; }
    nav #menuDropper {
      display: inline-block;
      width: calc(20% - 1rem);
      padding: 0.5rem;
      float: right; }
      nav #menuDropper i {
        display: block;
        text-align: center; }
      nav #menuDropper i:hover, nav #menuDropper i:focus {
        color: #26619C; }
    nav ul {
      display: inline-block;
      width: 80%; }
      nav ul li {
        display: inline-block;
        width: 70%;
        margin: 2vh 15%; }
        nav ul li a {
          display: block;
          padding: 0.5rem;
          border-radius: 1rem;
          border: 1px solid black;
          background-color: #E7E7FF;
          text-align: center;
          line-height: 200%; }
        nav ul li a:hover, nav ul li a:focus {
          background-color: #A7A7A7;
          box-shadow: 0 0 12px 1px #777777; }

  div {
    width: 100vw;
    margin-bottom: 10vh; }
    div form {
      margin: 3vh 5%;
      padding: 1rem;
      background-color: #E7E7FF;
      border-radius: 1rem; }
      div form fieldset {
        display: block; }
        div form fieldset label {
          display: block;
          text-align: center;
          font-size: 1.5rem;
          margin-bottom: 2vh; }
        div form fieldset input[type=text], div form fieldset input[type=password] {
          display: block;
          width: calc(80% - 2px);
          max-width: 350px;
          margin: 0 auto 4vh auto;
          font-size: 1.5rem;
          padding: 4px; }
        div form fieldset button {
          display: block;
          width: 160px;
          font-size: 1.5rem;
          line-height: 200%;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: #E7E7FF;
          border: 1px solid black;
          margin: auto; }
        div form fieldset button:hover, div form fieldset button:focus {
          background-color: #A7A7A7;
          box-shadow: 0 0 12px 1px #777777; }
    div a {
      display: block;
      font-size: 1.5rem;
      width: 80vw;
      max-width: 250px;
      margin: auto;
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 0.5rem;
      background-color: #E7E7FF;
      text-decoration: none;
      text-align: center; }
    div a:hover, div a:focus {
      background-color: #A7A7A7;
      box-shadow: 0 0 12px 1px #777777; }

  #fileList {
    min-height: 500px; }
    #fileList form ul li {
      border: 3px solid black;
      margin: 10vh 0;
      padding: 1rem;
      border-radius: 1rem; }
      #fileList form ul li input {
        all: initial;
        display: inline-block;
        width: 100px;
        height: 100px;
        background-image: url("../media/icons/checkbox_unchecked.png");
        background-size: 100px;
        background-repeat: no-repeat; }
      #fileList form ul li input:checked {
        background-image: url("../media/icons/checkbox_checked.png"); }
      #fileList form ul li a {
        all: initial;
        display: inline-block;
        width: calc(100% - 100px);
        line-height: 100px;
        text-align: center;
        float: right;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        font-family: "sans-serif"; }
        #fileList form ul li a i {
          display: none; }
      #fileList form ul li a:hover, #fileList form ul li a:focus {
        background-color: #A7A7A7; }
      #fileList form ul li ul {
        display: block;
        width: 100%;
        height: 99px;
        border-top: 1px solid black; }
        #fileList form ul li ul li {
          all: initial;
          display: inline-block;
          width: calc(50% - 1px);
          border-right: 1px solid black; }
          #fileList form ul li ul li a {
            display: inline-block;
            width: 100%;
            line-height: 100px;
            text-align: center;
            font-size: 1.5rem;
            overflow: hidden;
            white-space: nowrap; }
            #fileList form ul li ul li a i {
              display: inline-block; }
        #fileList form ul li ul li:last-of-type {
          border-right: none;
          width: 50%; } }
@media screen and (max-width: 349px) {
  /* ----- => FORM PAGES TOP-DOWN <= ----- */
  /* ( Ex.: Login page, upload page, ... ) */
  header {
    background-color: #E7E7FF;
    padding-top: 3vh; }
    header h1 {
      display: block;
      font-size: 2rem;
      text-align: center; }
      header h1 span {
        display: block;
        color: #0000CC;
        text-align: center; }
    header #homeButton {
      display: inline-block;
      width: 100px;
      margin-left: calc(50vw - 57px);
      margin-top: 0.5rem;
      font-size: 2rem;
      text-decoration: none; }
      header #homeButton i {
        display: block;
        text-align: center; }
    header #homeButton:hover, header #homeButton:focus {
      color: #26619C; }

  nav {
    font-size: 1.5rem;
    display: block;
    padding: 1 1rem 0; }
    nav a {
      text-decoration: none; }
    nav #menuDropper {
      display: inline-block;
      width: calc(20% - 1rem);
      padding: 0.5rem;
      float: right; }
      nav #menuDropper i {
        display: block;
        text-align: center; }
      nav #menuDropper i:hover, nav #menuDropper i:focus {
        color: #26619C; }
    nav ul {
      display: inline-block;
      width: 80%; }
      nav ul li {
        display: inline-block;
        width: 70%;
        margin: 2vh 15%; }
        nav ul li a {
          display: block;
          padding: 0.5rem;
          border-radius: 1rem;
          border: 1px solid black;
          background-color: #E7E7FF;
          text-align: center;
          line-height: 200%; }
        nav ul li a:hover, nav ul li a:focus {
          background-color: #A7A7A7;
          box-shadow: 0 0 12px 1px #777777; }

  div {
    width: 100vw;
    margin-bottom: 10vh; }
    div form {
      margin: 3vh 5%;
      padding: 1rem;
      background-color: #E7E7FF;
      border-radius: 1rem; }
      div form fieldset {
        display: block; }
        div form fieldset label {
          display: block;
          text-align: center;
          font-size: 1.5rem;
          margin-bottom: 2vh; }
        div form fieldset input[type=text], div form fieldset input[type=password] {
          display: block;
          width: calc(80% - 2px);
          max-width: 350px;
          margin: 0 auto 4vh auto;
          font-size: 1.5rem;
          padding: 4px; }
        div form fieldset button {
          display: block;
          width: 160px;
          font-size: 1.5rem;
          line-height: 200%;
          padding: 0.5rem;
          border-radius: 0.5rem;
          background-color: #E7E7FF;
          border: 1px solid black;
          margin: auto; }
        div form fieldset button:hover, div form fieldset button:focus {
          background-color: #A7A7A7;
          box-shadow: 0 0 12px 1px #777777; }
    div a {
      display: block;
      font-size: 1.5rem;
      width: 80vw;
      max-width: 250px;
      margin: auto;
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 0.5rem;
      background-color: #E7E7FF;
      text-decoration: none;
      text-align: center; }
    div a:hover, div a:focus {
      background-color: #A7A7A7;
      box-shadow: 0 0 12px 1px #777777; }

  #fileList {
    min-height: 500px; }
    #fileList form ul li {
      border: 3px solid black;
      margin: 10vh 0;
      padding: 1rem;
      border-radius: 1rem; }
      #fileList form ul li input {
        all: initial;
        display: inline-block;
        width: 60px;
        height: 60px;
        background-image: url("../media/icons/checkbox_unchecked.png");
        background-size: 60px;
        background-repeat: no-repeat; }
      #fileList form ul li input:checked {
        background-image: url("../media/icons/checkbox_checked.png"); }
      #fileList form ul li a {
        all: initial;
        display: inline-block;
        width: calc(100% - 60px);
        line-height: 60px;
        text-align: center;
        float: right;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        font-family: "sans-serif"; }
        #fileList form ul li a i {
          display: none; }
      #fileList form ul li a:hover, #fileList form ul li a:focus {
        background-color: #A7A7A7; }
      #fileList form ul li ul {
        display: block;
        width: 100%;
        height: 59px;
        border-top: 1px solid black; }
        #fileList form ul li ul li {
          all: initial;
          display: inline-block;
          width: calc(50% - 1px);
          border-right: 1px solid black; }
          #fileList form ul li ul li a {
            display: inline-block;
            width: 100%;
            line-height: 60px;
            text-align: center;
            font-size: 1rem;
            overflow: hidden;
            white-space: nowrap;
            text-indent: -101vw; }
            #fileList form ul li ul li a i {
              display: inline-block;
              position: relative;
              top: 0; }
        #fileList form ul li ul li:last-of-type {
          border-right: none;
          width: 50%; } }

/*# sourceMappingURL=screen.css.map */
